// COLORS
$COLOR-PRIMARY: #6b6b6b;
$COLOR-MAIN-BLACK: #0D0A0B;
$COLOR-HOVER: #4cbbb9;
// FONT-SIZE
$BASE-FONT-SIZE: 1.6rem;
$FONT-SIZE-TITLE-TASK: 1.8rem;
$FONT-SIZE-SMALL: 1.4rem;
$FONT-SIZE-FORM: 1.6rem