@import '../../../style/abstracts/variable.module.scss';

.linkItem {
  border-bottom: .1px solid $COLOR-PRIMARY;
  padding: 2rem 0;
  margin-bottom: 3rem;
  width: 70%;

  &__heading {
    font-size: 1.8rem;
    color: $COLOR-MAIN-BLACK;
    font-weight: 300;
  }

  &__link {
    font-size: 1.3rem;
    text-decoration: none;
    color: $COLOR-HOVER;

    &:hover {
      color: darken($color: $COLOR-HOVER, $amount: 10);
    }
  }

}