@import '../../style/abstracts/variable.module.scss';

.sidebar {

  &__logo {
      font-size: 2.5rem;
      color: $COLOR-MAIN-BLACK;
      letter-spacing: .1rem;
      margin-bottom: 2rem;
      font-weight: 400;
  }
}

.navbar {

  &__item {
    list-style: none;
  
    &:not(:last-child) {
      padding-bottom: .8rem;
    }
  }

  &__link {
    text-decoration: none;
    color: $COLOR-PRIMARY;
    font-size: 1.8rem;
    transition: all .2s;
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover {
      color: $COLOR-HOVER;
    }
  }
}

.active {
  color: $COLOR-HOVER;
}