// .input {
//   position: absolute;
//   left: 16%;
//   border: 1px solid black;
//   width: 80%;
//   padding: 1rem;
//   outline: none;

  
// // }

.form__controls {
  display: flex;
  align-items: center;

  input {
    position: absolute;
    display: block;
    left: 16%;
    border: 1px solid black;
    width: 80%;
    padding: 1rem;
    outline: none;
  }

  span {
    font-size: 1.3rem;
    position: absolute;
    left: 16%;
    top: 140%;
  }

  &.error {

    input {
      border: 1px solid red;
    }

    span {
      color: red;
    }
  }
}