@import '../../style/abstracts/variable.module.scss';

.searchContainer{
  position: relative;
}


.search {
  position: relative;
  margin-bottom: 2.5rem;
  overflow: hidden;
  border-bottom: 1px solid $COLOR-PRIMARY;
  transition: all .1s;

  &:hover {
    border-bottom: 1px solid $COLOR-HOVER;
  }

} 
